@import 'variaveis';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  background: $fundo;
  color: $text;
  font-size: 1.2rem;
}

nav {
  background: $branco;
  margin: 2rem auto;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}

.menu a {
  text-decoration: none;
  color: $cinza;
  font-weight: 500;
  text-align: end;
  transition: color 0.1s ease;
}

.menu a:hover {
  color: $clicar;
}

.fa-solid fa-magnifying-glass i {
  border: none;
  font-size: 18px;
  color: $clicar;
}